.list-title {
  background-color: rgba(40, 137, 234, 0.823);
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  color: white;
  padding: 10px;
  font-family: Arial;
  text-align: left;
  
}

#map-container {
  position: absolute;
  overflow: hidden;
  width: 600px;
  height: 450px;
  right: 4%;
}

.country-flag {
  position: absolute;
  left: 70%;
}